APP_PORT=
APP_HOST=
MONGO_URL=

FRONTEND_URL=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRE_IN='1 hour'
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE_IN='7 day'

JWT_ACTION_FORGOT_PASSWORD_SECRET=
JWT_ACTION_FORGOT_PASSWORD_EXPIRE_IN="1 hour"

JWT_ACTION_REGISTER_SECRET=
JWT_ACTION_REGISTER_EXPIRE_IN="1 hour"

SMTP_EMAIL=
SMTP_PASSWORD=

OLD_PASSWORDS_SAVE_TIME = "90 day"
NO_ACTIVITY_TIME_TO_SEND_EMAIL = "5 day"

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=
AWS_REGION=
AWS_S3_ACL=
AWS_URL=